// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}
main{
  margin-bottom:-130px;
  display:block;
  float:left;
  width: 100%;



  & ul {
    padding-left:0px;
  }
}

.text-page {
  padding-left:60px;

  & ul {
    padding-left:15px;
  }
  & p{
    font-size:15px;
  }
  & a{
    opacity:0.7;
  }
}

.navbar {
  min-height:250px;
}

.navbar-header{
  color:rgba(255, 255, 255, 1);
}

a.navbar-brand {
  font-size:36px;
  color:rgba(255, 255, 255, 1);
  &:hover{
    text-decoration:underline;
  }
}

header {
  padding-top:60px;
  z-index:0;
}

.jumbo {
  position:relative;
  top:-80px;
  z-index:3;
}

.jumbo-container{
  padding: 40px 0px 40px 0px;
  & h1 {
    word-wrap: break-word;
  }
}

.jumbo-container-text{
  padding:40px;
}

body .well, .container .well, .container-fluid .well, body .jumbotron, .container .jumbotron, .container-fluid .jumbotron
{
  padding:0px;
}

article header > h1 > a{
  color:white;

  padding-top:20px;
  padding-bottom:20px;
  &:hover, &:focus, &:active
  {
    color:white !important;
    opacity:0.9;
  }
}

article header > div > a >  time{
  color:white !important;
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}

article header > div > a{
  text-decoration:none;
  &:hover {
    text-decoration:none;
    opacity:0.7;
  }
}




article header{

  color:white;

}

article > div > header > h1 {
  padding-left:30px;
  padding-right:30px;
}

article > div > img, iframe, video, embed{
  max-width:100% !important;
  display:block;
}

img {
  display: block;
  max-width: 100%;
}

.category-color {
  color:white;
  &:hover{
    color:white;
    opacity:0.6;
  }
}

.coma-padding {
  padding-right:5px;
}

.footer{

  position:relative;
  top:-80px;
}

footer{


  & h3 {
    font-size:30px;
  }

  & a, a:hover, a:focus
  {
    color:white;}

  & ul{
    padding-left:15px;
  }
  & .footer-bg {
    padding-top:80px;
    padding-bottom:25px;

  }
}

.navbar, .navbar-default {
  color:white;

  & li:hover{
    text-decoration:underline;
  }
}

.page-header{
  margin-top:10px;
}

.navbar-collapse{
  margin-bottom:0px;
  margin-top:0px;
}

.collapse.in {
  margin-bottom: 65px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #009587;
  &:hover {
    background-color: #009587;
  }
  &:focus {
    background-color: #009587;
  }
  &:active {
    background-color: #009587;
  }
}

.hr-footer{
  border-style:dotted;
}

.bg{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color:#555;
}

button.md-raised {
  padding:10px;
  font-size:16px;
  padding-left:20px;
  padding-right:20px;

}

.content-post{
  margin-top:-60px;margin-bottom:40px;
}


.mg-image{
  overflow:hidden;
  & img {
    -webkit-transition: all 3s ease; /* Safari and Chrome */
    -moz-transition: all 3s ease; /* Firefox */
    -o-transition: all 3s ease; /* IE 9 */
    -ms-transition: all 3s ease; /* Opera */
    transition: all 3s ease;
    max-width: 100%;
    max-height:700px;


  }
  & > a > img {
    opacity:1;
  }
}
.mg-image:hover img {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

html, body {
  font-family: Signika;
  font-size:15px;
}

html h3, body h3 {
  font-weight:normal;
}

.btn-link, .btn:not([class^="btn btn-"]), .btn-default, .comment-form input[type="submit"]:not([class^="btn btn-"]) {
  color:white;
}
md-content.md-default-theme {
  overflow-x:hidden;
}

.logo {
  max-width:200px;
}

.credits{
  margin-top:30px;
}

.responsive-img{
  max-width:100% !important;
  height:auto;
  display:block;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Signika;
}

.navbar .navbar-nav {
  font-size:16px;
}

.dropdown-menu > li > a {
  font-size:16px;
  &:hover{
    opacity:0.6;
  }
}

.separator{
  height: 130px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  text-decoration:underline;
  opacity:1;
}

.nav-left{
  left: 10px;
  position: absolute;
}

.nav-right{
  right:10px;
  position:absolute;
}

.post-nav{
  margin-bottom:200px;
  margin-top: -250px;
  position: relative;
  top: 100px;
  z-index: 9;
}

article {
  margin-bottom:40px;
}

.article-text {
  & > h1{
    padding-top:60px;
  }
  & > div > a {
    color:black;
    &:hover {
      color:black;
      opacity:0.8;

    }
  }
}
.image-home {
  width:100%;
}

.entry-meta {
  font-size:17px;
  margin-top:20px;
}

.comments{
  & a, a:focus, a:active, a:hover {
    color:black;
  }
}
